<div>
  <%= form_with url: '/search', method: :get do |form| %>
    <div class="field has-addons mb-4">
        <div class="control">
          <%= form.text_field :query, class: 'input', placeholder: '板を検索' %>
        </div>
        <div class="control">
          <%= form.submit '検索', class: 'button is-link' %>
        </div>
    </div>
  <% end %>

  <%= paginate @boards %>

  <% if @boards.length == 0 then %>
  検索結果がありません。
  <% end %>

  <% @boards&.each do |board| %>
    <%= link_to(board_path(board)) do %>
      <div class="box mb-5">
        <div class="title is-4">
          <%= board.title %>
        </div>
        <p>
          <%= board.display_created_time %>
        </p>
      </div>
    <% end %>
  <% end %>

  <%= paginate @boards%>
</div>