<%= link_to '掲示板一覧へ', root_path %>
<div class="is-size-3 has-text-weight-bold">
  <%= @board.title %>
</div>

<% @board.comments.each do |comment| %>
  <div class="card p-4 mb-4">
    <p>
      <%= comment.display_created_time %>: 
      <%= comment.user_id %>
    </p>
    <div class="card-content">
      <%= comment.text %>
    </div>
  </div>
<% end %>

<%= render 'comments/form' %>